.cg-MainNav {
  background-color: #4b0983;
  padding: 16px 0;
  position: relative;
  &__Cat {
    display: flex;
    align-items: center;
    &-drop {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      &::after {
        position: absolute;
        content: "";
        background: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.966 2L9.98303 9.983L2 2" stroke="white" stroke-width="2.25" stroke-linecap="round"/></svg>');
        right: -25px;
        top: 5px;
        width: 16px;
        height: 11px;
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center;
      }
      // &:hover {
      //   color: #ebc373;
      //   &::after {
      //     background: url('data:image/svg+xml,<svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.557 9.574L9.57399 1.591L1.59102 9.574" stroke="%23EBC373" stroke-width="2.25" stroke-linecap="round"/></svg>');
      //     background-repeat: no-repeat;
      //     background-size: 90%;
      //     width: 16px;
      //     height: 11px;
      //     background-position: center;
      //   }
      // }
    }
    &-list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        margin: 0px;
        padding: 0 8px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          padding: 0px;
          position: relative;
          text-transform: uppercase;
          transition: color 0.3s ease;
          position: relative;
        }
        &:hover a {
          color: #ebc373;
        }
      }
      .cg-subMenu {
        position: absolute;
        z-index: 500;
        background-color: #4b0983;
        padding: 0;
        transition: all 0.5s ease;
        margin-top: 0px;
        opacity: 0;
        visibility: hidden;
        display: none;
        &.cg-megaMenu {
          width: 100%;
          display: none;
          flex-wrap: wrap;
          padding: 35px 0;
          left: 0px;
        }
        &__in {
          display: flex;
          justify-content: space-between;
        }
        ul {
          margin: 0px;
          padding: 0px;
        }
        li {
          padding: 3px 0;
          a {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            padding: 0;
            margin: 0;
            position: relative;
            text-transform: capitalize;
            transition: color 0.3s ease;
            &:hover {
              color: #ebc373;
            }
            &::after {
              display: none;
            }
          }
          &:hover a {
            color: #ebc373;
          }
        }
        &__head {
          font-size: 14px;
          font-weight: 600;
          color: #ebc373;
          margin: 0 0 10px;
        }
        &__items {
          &--bold {
            li {
              a {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    &-level1 {
      &:hover .cg-subMenu {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
        display: block;
      }
      &:hover {
        a.cg-MainNav__Cat-drop {
          &::after {
            background: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.557 9.574L9.57399 1.591L1.59102 9.574" stroke="%23EBC373" stroke-width="2.25" stroke-linecap="round"/></svg>');
            right: -25px;
            top: 5px;
            width: 16px;
            height: 11px;
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: center;
          }
        }
      }
    }
  }
}
